.add-item-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid $color-border;
  border-radius: 5px;
  text-align: center;
  padding: 0;
}

.add-item-button:hover {
  background-color: $color-background-hover;
}
