.flexDiv {
  display: flex;
  margin: auto;
  width: 100%;
  display:inline-block;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

.flexDiv:hover {
  background-color: $color-background-hover;
  cursor: pointer;
}

.item-description {
  width: 75%;
  @include vp-medium {
    width: 60%;
  }
  @include vp-small {
    width: 50%;
  }
  float:left;
}

.item-button {
  width:12%;
  @include vp-medium {
    width: 19%;
  }
  @include vp-small {
    width: 24%;
  }

  float:right;
}

.isDone {
  background-color: $color-background-done;
}
