.add-item-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 0; }

.flexDiv {
  display: flex;
  margin: auto;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1024px) {
    .flexDiv {
      width: 75%; } }
  @media (min-width: 1479px) {
    .flexDiv {
      width: 50%; } }

.flexDiv:hover {
  background-color: #eee; }

.item-description {
  width: 75%;
  float: left; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .item-description {
      width: 60%; } }
  @media (max-width: 767px) {
    .item-description {
      width: 50%; } }

.item-button {
  width: 12%;
  float: right; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .item-button {
      width: 19%; } }
  @media (max-width: 767px) {
    .item-button {
      width: 24%; } }

.isDone {
  background-color: #00ee0050; }

.todo-list {
  padding: 0; }

.App {
  text-align: center; }
