.flexDiv {
  display: flex;
  margin: auto;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #ddd; }

.flexDiv:hover {
  background-color: #eee; }

.item-description {
  width: 75%;
  float: left; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .item-description {
      width: 60%; } }
  @media (max-width: 767px) {
    .item-description {
      width: 50%; } }

.item-button {
  width: 12%;
  float: right; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .item-button {
      width: 19%; } }
  @media (max-width: 767px) {
    .item-button {
      width: 24%; } }

.isDone {
  background-color: #00ee0050; }

.todo-list {
  padding: 0;
  margin: auto;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd; }
  @media (min-width: 1024px) {
    .todo-list {
      width: 75%; } }
  @media (min-width: 1479px) {
    .todo-list {
      width: 50%; } }

.input-container {
  margin-bottom: 10px; }

.input-box {
  width: 20%;
  border: 1px solid #ddd; }

.App {
  text-align: center; }

h1 {
  text-align: center; }
